/**
 * F1CSS - Submenu - 04 Jan 2023
 *  
 * @author  C. Moller <xavier.tnc@gmail.com>
 * 
 * @version 2.0.0 - FT - 11 Jan 2023
 *   - Add `--submenu-color-text`
 *   - Improve 
 *
 */

.submenu__wrapper {
  --submenu-spacing: 0.5em;
  --submenu-color-background: inherit;
  --submenu-color-text: inherit;
  --submenu-border-radius: 4px;
}

.submenu__wrapper {
  overflow: visible;
}

.submenu {
  background-color: var(--submenu-color-background);
  border-radius: var(--submenu-border-radius);
  box-shadow: 3px 3px 7px 0 #0005;
  padding: var(--submenu-spacing);
  position: absolute;
  width: fit-content;
  list-style: none;
  top: calc(100% + 0.34em);
  right: 0;
}

.submenu > li > a {
  padding: var(--submenu-spacing);
  color: var(--submenu-color-text);
  text-decoration: none;
  font-weight: normal;
  display: block;
  opacity: 0.8;
}

.submenu > li:hover > a {
  opacity: 1;
}

.submenu > li > a span {
  position: relative;
}
