/**
 * F1CSS - Reset - 10 Dec 2022
 *  
 * @author  C. Moller <xavier.tnc@gmail.com>
 * 
 * @version 1.1.0 - 16 Dec 2022
 *   - Update * rule.  Change box-sizing from border-box to inherit.
 *   - Add box-sizing to html element. 
 *
 */

:root {
  --doc-color-dark: black;
  --doc-color-light: white;
  --doc-color-acent: orange;
  --doc-color-primary: midnightblue;
  --doc-color-secondary: mediumblue;
  --doc-font-family: sans-serif;
  --doc-font-size: 15px;
  --doc-padding: 0.5rem;
}

*, ::before, ::after { padding: 0; margin: 0; box-sizing: inherit; }

html {
  color: var(--doc-dark-color);
  background-color: var(--doc-light-color);
  font-family: var(--doc-font-family);
  font-size: var(--doc-font-size);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}